@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
html{
    --grid-dimension: 16;
}
body{
    background-color: #153D66;
}
h1{
    color: #FFAD1E;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
}
#game{
    width: 500px;
    height: 500px;
    background-color: crimson;
    border-radius: 20px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(var(--grid-dimension), calc(500px/var(--grid-dimension)));
    border: 10px solid #97CBFF;
    transition: 1s;
}
#grid-element{
    border: 1px solid black;
    background-color: white;
    width: calc(500px/var(--grid-dimension) - 2);
    height: calc(500px/var(--grid-dimension) - 2);
    margin: 0;
}
.grid-element{
    border: 1px solid black;
    background-color: white;
    width: calc(500px/var(--grid-dimension) - 2);
    height: calc(500px/var(--grid-dimension) - 2);
    margin: 0;
}
#button-area{
    margin: auto;
    text-align: center;
}